# Binaries
**/bin/
bin-int/
Intermediates/

# Aspect files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Aspect/vendor/VulkanSDK
Aspectnut/assets/cache
scripts/__pycache__

# My settings
Aspectnut/Resources/